# BFF
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5080
ConnectionStrings__Painel=Host=localhost;Port=5432;Database=panel_hc;Username=panel_hc;Password=change-me
Erp__BaseUrl=http://localhost:8081
Jwt__Issuer=painel-bff
Jwt__Audience=painel-web
Jwt__Secret=change-me-use-user-secrets-or-env-var-with-at-least-32-chars

# Spring Boot ERP Mock
SERVER_PORT=8081
RM_MOCK_SEED=2026
RM_MOCK_PROJECTS=8

# Angular
API_BASE_URL=http://localhost:5080/api/v1
