# BFF
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5080
ConnectionStrings__Painel=Host=localhost;Port=5432;Database=painel_hc_bff;Username=painel;Password=painel
Erp__BaseUrl=http://localhost:18082
Jwt__Issuer=painel-bff
Jwt__Audience=painel-web
Jwt__Secret=change-me-use-user-secrets-or-env-var-with-at-least-32-chars

# Spring Boot ERP Mock
SERVER_PORT=18082
RM_MOCK_SEED=2026
RM_MOCK_PROJECTS=20
RM_MOCK_ANALYSTS=48
RM_MOCK_ENTRIES_PER_PROJECT=36
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/painel_hc_rm
SPRING_DATASOURCE_USERNAME=painel
SPRING_DATASOURCE_PASSWORD=painel
RM_WEBHOOK_TARGET_URL=http://localhost:5080/api/v1/erp-webhooks/rm-events

# Angular
API_BASE_URL=http://localhost:5080/api/v1

